$base-color: #211536;
$light-color: #f8f8fa;
$dark: #351768;
$content-bg: #ffffff;
$border-field: #cdb1fb;
$button-color-dark: #9b63f8;
$button-color-light: #ffffff;
$copyright-bg: #6a44aa;
$date-bg: #faf7fe;
